@model ToDoList_DomainModel.ViewModels.Auth.ChangePasswordViewModel

@{
    ViewData["Title"] = "Verify user";
}

<form asp-controller="Auth" asp-action="ChangeForgettedPassword" class="row-cols-2" id="verifyForm">
    <p>Please check your email and enter the verification code that is just send</p>
    <input type="hidden" name="userName" value="@Model.UserName" />
    <div class="form-group">
        <label asp-for="VerifyForgetPassword.VerificationCode" class="form-label mt-4"></label>
        <input type="text" class="form-control" asp-for="VerifyForgetPassword.VerificationCode" placeholder="Enter Verification Code">
        <span asp-validation-for="VerifyForgetPassword.VerificationCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VerifyForgetPassword.NewPassword" class="form-label mt-4"></label>
        <input type="password" class="form-control" asp-for="VerifyForgetPassword.NewPassword" placeholder="Enter New Password">
        <span asp-validation-for="VerifyForgetPassword.NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VerifyForgetPassword.ConfirmNewPassword" class="form-label mt-4"></label>
        <input type="text" class="form-control" asp-for="VerifyForgetPassword.ConfirmNewPassword" placeholder="Enter New Password again">
        <span asp-validation-for="VerifyForgetPassword.ConfirmNewPassword" class="text-danger"></span>
    </div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color:red">@Model.ErrorMessage</p>
    }
    <button type="submit" class="btn btn-primary col-1 mt-3" id="button">Submit</button>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        var success = '@Model.SuccessMessage';

        if (success) 
        {
            Swal.fire
            ({
                icon: 'success',
                title: 'Success',
                text: '@Model.SuccessMessage',
                showCancelButton: false,
                confirmButtonText: 'OK',
                allowOutsideClick: false
            })
            .then((result) => 
            {
                // If the user clicked OK, redirect to another action
                if (result.isConfirmed) 
                {
                    window.location.href = '/Auth/LogIn'; // Replace with your desired action
                }
            });
        }
    </script>
}
