@model ToDoList_DomainModel.ViewModels.Auth.ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget password";
}

<form asp-controller="Auth" asp-action="ForgetPassword" class="row-cols-2">
    <div class="form-group">
        <label asp-for="ForgetPasswordDto.UserName" class="form-label mt-4"></label>
        <input type="text" class="form-control" asp-for="ForgetPasswordDto.UserName" placeholder="Enter User Name">
        <span asp-validation-for="ForgetPasswordDto.UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ForgetPasswordDto.Email" class="form-label mt-4"></label>
        <input type="email" asp-for="ForgetPasswordDto.Email" class="form-control" placeholder="Enter your gmail">
        <span asp-validation-for="ForgetPasswordDto.Email" class="text-danger"></span>
    </div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color:red">@Model.ErrorMessage</p>
    }
    <button type="submit" class="btn btn-primary col-1 mt-3 mb-3">Submit</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
