@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<a type="button" class="btn btn-primary" asp-controller="Auth" asp-action="SignUp">SignUp</a>
<a type="button" class="btn btn-primary" asp-controller="Auth" asp-action="LogIn">LogIn</a>


